<h1>Previous Events</h1>

<div id = "previousEventList">
	<ul>
		<li id = "headings">
			<h2>Event Name</h2>
			<h2>Date</h2>
			<h2>Winning Venue</h2>
		</li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div><!-- previousEventList -->
