<h1>App Info</h1>

<div id="appInfo">
	<p>MoMondays is a web application that democratizes event planning. If you're having
	 trouble choosing a venue for your upcoming event, why not let your guests decide??
	 All you need to do is create an event, specify the date, and choose a time for the voting 
	 to start.  After the event is created, your guests have up until the voting start
	 time to suggest venues for your event.  When the voting begins, venues can no longer
	 be suggested and people can begin to vote on the venue they prefer for your event.
	 There are a few rules that need to be followed whether you are the event creator, 
	 venue suggestor, or just a voter:
	</p>

	<div id="rulesPageContent">
			<h2>Rules:</h2>
			<ol id = "first">
				<li>"Voting Start" dates must not happen in the past</li>
				<li>Each user can only suggest one venue per event, which can be edited up until
					voting begins</li>
				<li>Once voting begins, venues cannot be deleted or modified</li>
				<li>Once voting begins, users can only vote for one venue</li>
				<li>6 Hours before the event, the venue with the most votes wins (ties will go
					to the venue that was suggested first)</li>
				<li>An email will be sent out giving details of the event and the winning venue</li>
			</ol>

			<h2>Current Features:</h2>
			<ul id = "second">
				<li>Venues can be located using Yelp! Simply type in the name of the venue and select
					the appropriate location</li>
				<li>"Recent Activity" feed on the home page allows you to see when your friends have 
				added new events/venues that you can act upon!</li>
			</ul>
	</div>
</div>