<div class = "help-dialog" id = "gmail-hover-help-dialog">
	<ul>
		<h3>What Is This?</h3>
		<li>Find your friends' email addresses more easily by linking with your gmail account. The app will only request access to your gmail contacts. We promise not to spam your friends! Plus, you can unlink your gmail contacts whenever you want simply by going to your 'User Settings'</li>
	</ul>
</div>