<%= form_tag("/ddf/update_guestlist", :method => :post, :id => "invite_guest_form", :remote => true ) do %>

  <div class="field">
    <ul id = "invite_guest_form_userlist">


    </ul>
  </div>

  <div class="actions">
    <%= submit_tag "Update Guestlist", :id => "invite_guest_form_submit" %><br/>
    <%= image_tag("/assets/ajax-loader.gif", :id => "event-loading-gif",  :style => "visibility: hidden;") %>
  </div>
<% end %>


