<%= form_tag("/guests/update_guestlist", :method => :post, :id => "new-guest-form", :remote => true ) do %>

  <div class="field">
    <div id = "new-guest-form-invitelist">


    </div>
  </div>

  <div class="actions">
    <%= submit_tag "Update Guestlist", :id => "new-guest-form-submit" %><br/>
    <%= image_tag("/assets/ajax-loader.gif", :id => "event-loading-gif",  :style => "visibility: hidden;") %>
  </div>
<% end %>


