<div id = "new-guest-form-header">
	<h2>"<%= @event.name %>"</h2>
	<%= link_to "Back to Event Page", event_path(@event), id: "back-link" %>
</div>

<div id = "new-guest-form-container"><%= render 'guest_form' %></div>

<script>

$(function() {

	<% if current_user.gmail_contacts %>
		getEmails();
	<% end %>

});
</script>
