<div id = "invite_guest_form_userlist_header">
	<h2>"<%= @event.name %>"</h2>
	<h3>Invite List</h3>
</div>

<div id = "email-entry-container">
	<% if current_user.gmail_contacts %>
		<%= text_field_tag :contact_dropdown, "", {id: "email-dropdown", placeholder: "Enter Emails"} %>
	<% else %>
		<%= link_to "Find Gmail Contacts", "/contacts/gmail" %>
	<% end %>
</div>
<%= render 'guest_form' %>

<script>

$(function() {

	<% if current_user.gmail_contacts %>
		populateEmailDropdown();
	<% end %>

});
</script>
