<div class = "user_session_page">
	
	<h3>Forgot your password?</h3>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class = "resend-info-form">
	  	<%#= f.label :email, "Enter Email Address: " %>
	  	<%= f.email_field :email, :autofocus => true, :placeholder => "Enter Email Address" %>
	
	  	<div><%= f.submit "Send Reset Instructions", {:class => "sign_up_btn btn btn-primary"} %></div>

	  </div>
	<% end %>

</div>
