/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.autocomplete
 */

 body {
 	background: #C0D1ED;
 	font-family: verdana, arial, helvetica, sans-serif;
 }

 /*----------------------------------------------------------------------------- 
=03 CONTAINER 
-----------------------------------------------------------------------------*/

#container{
	margin: 25px auto;
	margin-bottom: 10px;
	position: relative;
	width: 960px;
}

#container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#container h1, h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container > h1 {
	position: absolute;
	left: 14%;
	top: -3.25%;
	font-size: 1.5em;
	font-family: CF Midnight;
}

 /*----------------------------------------------------------------------------- 
= MAIN
-----------------------------------------------------------------------------*/

 #main {

 	position: absolute;
 	background: #ededed;
 	width: 796px;
	padding: 20px;
	min-height: 650px;
	float: right;
	position: relative;
	border: solid 2px black;
	border-radius: 15px;
		-moz-box-shadow: 0px 5px 20px 0px #000;
		-webkit-box-shadow: 0px 5px 20px 0px #000;
		box-shadow: 0px 5px 20px 0px #000;
 }
 	#main h1 {
 		text-align: center;
 		margin-bottom: 2px;
 		font-size: 2em;

 	}
/*----------------------------------------------------------------------------- 
= LOGIN NAV
-----------------------------------------------------------------------------*/
#login-nav {
	font-size: 0.8em;
	float: right;
	padding-right: 12px;
}
/*----------------------------------------------------------------------------- 
= SIDEBAR AND NAV
-----------------------------------------------------------------------------*/

#sidebar{ 
	min-height: 650px;
	float: left;
	width: 120px;
	height: 100%;
	padding: 50px 0px 0px 0px;
	background: none;
	position: relative;
}

nav ul {
	padding-left: 5px;
}

nav ul li {
	margin-bottom: 5px;
	list-style-type: none;
	font-weight: bold;
}

	nav li a{
		display: block;
		text-decoration: none;
		text-align: right;
		border-top: solid 2px black;
		border-bottom: solid 2px black;
		border-left: solid 2px black;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 5px 10px 5px 0px;
		text-shadow: 0.1em 0.1em 0.2em white;
		background: #E3E1E2;
	}
		nav li a:hover{
			font-weight: bold;
			background: #F9F9C9;
			color: black;
		}

		nav li.active a{
			font-weight: bold;
			background: #F9a9C9;
			color: black;
		}



/*----------------------------------------------------------------------------- 
=06 FOOTER 
-----------------------------------------------------------------------------*/
footer{
	margin: 10px auto;
	position: relative;
	width: 840px;
	padding-left: 120px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;

}