$("#discussionBoard-comments ul").prepend('<li><span class = "comment_timestamp"><%= @comment.username %> (<%= time_ago_in_words(@comment.created_at) %> ago):</span> <%= @content %></li>');
$("#notice").text("Comment Posted.").delay(3000).fadeOut(1000);;

 $('#enterCommentsField').val("");
 $('#postCommentButton').attr('disabled', true);    