<div class = "row">
<div class = "span12">
	<div id = "about-container">

	<div id="appInfo">
		<h2>Mo' Mondays Mo' What?</h2>
		<p>MoMondays is a web application that democratizes event planning. The application takes
			stress out of choosing an event location by allowing your guests to decide for you.
		 All you need to do is create an event, specify the date, and choose a time for the voting 
		 to start.  After the event is created, your guests have up until the voting start
		 time to suggest venues for your event. You can even suggest your own venues to add the list.
		 When the voting begins, venues can no longer be suggested and people can begin to vote on the 
		 venue they prefer for your event. Here are the steps:
		</p>

		<div id="rulesPageContent">
			<ul id = 'appActions-container'>
				<li class = "appActions">
					<h3>Create an Event!</h3>
					<ul class = "appActionsInfo">
						<li>Click on the 'Create an Event' Button</li>
						<li>Fill in the Event Info (NOTE: Voting Start dates cannot happen in the past)</li>
						<li>Events cannot be edited until voting is complete (for example, if you need to change the start time). If you need to change the event details during the venue suggestion or voting phases, you must delete the event and create a new one</li>
						<li>Once an event is created, an email will notify the users to ask them to suggest venues</li>
					</ul>
				</li>
				<li class = "appActions">
					<h3>Suggest a Venue!</h3>
					<ul class = "appActionsInfo">
						<li>During the Venue Suggestion Phase, go to the event page and click on the 'Suggest Venue' button</li>
						<li>Enter the venue info.  Type in the venue name and allow Yelp! to locate the venue and it's information</li>
						<li>Venues can be suggested and/or edited up until the voting period begins </li>
						<li>Each user can only suggest one venue per event, unless you are the event owner</li>
						<li>Once voting begins, the venue list is locked and no changes can be made (unless you are the event owner, who can add venues to the list at all times)</li>
					</ul>
				</li>
				<li class = "appActions">
					<h3>Vote for a Venue!</h3>
					<ul class = "appActionsInfo">
						<li>During the Voting Phase, go to the event page and click on the 'Upvote' button next to your preferred venue</li>
						<li>Users can only vote once per event and votes are final (future versions will allow for vote changing)</li>
					</ul>
				</li>
				<li class = "appActions">
					<h3>Event Completion</h3>
					<ul class = "appActionsInfo">
						<li>8 hours before the event start time, voting is locked and the venue with the most votes will be chosen</li>
						<li>In the event of a tie, the venue that was suggested first will be chosen</li>
						<li>If no events are chosen, the event will be cancelled and removed from the list</li>
						<li>Once the venue has been set, go to the event page and RSVP if you plan on going</li>
					</ul>
				</li>
			</ul> <!--appActions-container-->
		</div>
	</div>

	</div> <!--about-container -->
</div>
</div>