<div class = "help-dialog" id = "venue-dialog-help-dialog">
	<ul>
		<span href = "" class = 'close-help-dialog'>close</span>
		<h3>Suggesting Venues:</h3>
		<li>Enter the venue information including the name, address, and any comments you may have about it (e.g. 'Cash Only' or 'Happy Hour until 6pm')</li>
		<li>For easiest results, allow YELP! to find and populate the venue information for you
		 	<ol>
		 		<li>Type in the venue name and wait for YELP! to locate the venue and it's information (HINT: to use the yelp search, make sure the venue name is as it would appear on the venue's yelp page.  For example "The Blue Light" will work but "Blue Light" will not)t</li>
				<li>Choose the correct venue from the dropdown list that appears.</li>
			</ol>
		<li>Once finished, click on the 'Suggest' Venue button to add it to the list. An email will notify the event guests of your suggestion so they can vote for it if they want</li>
	</ul>
</div>