$("#venue_" + <%= @venue.id %>).slideUp();

$("#notice").text("You successfully removed your suggested venue");

$("#discussionBoard ul").prepend("<li class = 'italic'><%= escape_javascript(@content) %></li>");
