<div class = "sign-in-header"><h1>Welcome to the <%= Venupickr::Application::APP_NAME %> App!</h1></div>
<div class = "user_session_page" id = "user_sign_in_page">
	<h3>Please Sign In</h3>
	<%= render "devise/shared/sign_in_boxes" %>
	<div class = "devise-links"><%= render "devise/shared/links" %></div>
</div>