<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<style type="text/css">

.mm_ttb {
	font-family: Arial, Verdana, Geneva, sans-serif;
	background-color: #F4F4F4;
	font-size: 14px;
}

</style>
</head>
<body>

<!-- Header -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td style="background-color: #777777;font-family: Arial, Verdana, Geneva, sans-serif;color: white;font-size: 18px;"><%= Venupickr::Application::APP_NAME %></td>
  </tr>
</table>

<!-- Body -->
<table class="mm_ttb" width="600" align="center" border="0" cellspacing="0" cellpadding="10" style="background-color:#f3f3f3;">
  <tr>
    <td>
    
    <h1 style="font-size: 18px;font-family: Arial, Verdana, Geneva, sans-serif;">The event is set!</h1>
    <p>Voting has just finished for 'MO BDAYS!' created by cz. Below is the event information:</p>
    
    <table width="100%" border="0" cellspacing="2">
      <tr>
        <td width="20%"><p style="color: #888888;">Event:</p></td>
        <td><a href="#"><b>Mo' Mondays No Mo' Siva</b></a></td>
      </tr>
      <tr>
        <td><p style="color: #888888;">Start Date:</p></td>
        <td><p>August 12, 2013 at 8:00pm PST</p></td>
      </tr>
      <tr>
        <td valign="top"><p style="color: #888888;">Winning Venue:</p></td>
        <td valign="top">
        	<p> <a href="http://www.yelp.com/biz/redford-san-francisco-2">Wilson &amp; Wilson</a><br />
                <span style="font-size:12px;color:#888888;">673 Geary St (b/t Jones St &amp; Leavenworth St)<br />
                San Francisco, CA 94102<br />
                <em>&raquo; suggested by czwang</em></span>
        	</p>
        </td>
      </tr>
      <tr>
        <td valign="top"><p style="color: #888888;">Notes to Guests:</p></td>
        <td valign="top">
            <p>I'm getting older... so old that my actual bday day has been commandeered by a family friends wedding, so lets drink to getting older on Monday instead! =)</p>
        </td>
      </tr>
    </table>
    
    <p align="center">&nbsp;</p>
    <p align="center"><small>Are you going? RSVP using the discussion box on the <a href="#">Event Page</a></small></p>
    
    </td>
  </tr>
</table>

<!-- Footer -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" style="background-color: #e3e3e3;font-family: Arial, Verdana, Geneva, sans-serif;font-size: 11px;">www.<%= Venupickr::Application::APP_NAME.downcase %>.com</td>
  </tr>
</table>


</body>
</html>
