<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>NO VENUES WERE SUGGESTED FOR YOUR EVENT</h1>

    <p>
      No one has suggested any venues for your event, '<%=@event.name %>'. Go to the event page to suggest venues that people can vote on. If no venues are suggested before the event start time, the event will be removed from the queue.<br/></p>
      
    <p>Suggest Venues by Going to the <%= link_to("Event Page", @url) %></p>
     
  </body>
</html>