<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>NO VENUES WERE SUGGESTED FOR YOUR EVENT</h1>

    <p>
      No one has suggested any venues for your event, '<%=@event.name %>'. Your event has been archived.  Be sure to email your guests to manually tell them the venue you have chosen, or to warn them that the event has been cancelled.<br/>
      Event Page: <%= link_to("Event Page", @url) %>
    </p>
     
  </body>
</html>