<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<link rel="stylesheet" type="text/css" href="email.css">   
</head>
<body>

<div class = "email-container">
  <div class = "app-name-header">
    <h2><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>
    
    <h3>THE EVENT IS SET!</h3>
    <p align="center">Voting has just finished for <strong>'MO BDAYS!'</strong> created by cz. Below is the event information:</p>
    
    <table class = "email-info" order="0" cellspacing="5">
      <tr>
        <td width="35%"><p class = "heading">Event:</p></td>
        <td><a href="#"><b>Mo' Mondays No Mo' Siva</b></a></td>
      </tr>
      <tr>
        <td><p class = "heading">Start Date:</p></td>
        <td><p>August 12, 2013 at 8:00pm PST</p></td>
      </tr>
      <tr>
        <td valign="top"><p class = "heading">Winning Venue:</p></td>
        <td valign="top">
          <p> <a href="http://www.yelp.com/biz/redford-san-francisco-2"><b>Wilson &amp; Wilson</b></a><br />
                <span class = "venue-winner">673 Geary St (b/t Jones St &amp; Leavenworth St)<br />
                San Francisco, CA 94102<br />
                <b>&raquo; suggested by czwang</b></span>
          </p>
        </td>
      </tr>
      <tr>
        <td valign="top"><p class = "heading">Notes to Guests:</p></td>
        <td valign="top">
            <p style = "font-style: italic">"I'm getting older... so old that my actual bday day has been commandeered by a family friends wedding, so lets drink to getting older on Monday instead! =)"</p>
        </td>
      </tr>
    </table>
    
    <p align="center" class = "email-small"><b>Are you going?</b> RSVP using the discussion box on the <a href="#">Event Page &raquo</a></p>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td><a>www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>
