<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>MO' VENUES MO' PROBLEMS!</p>
    ===============================================
    <h2>THERE'S A NEW VENUE SUGGESTED!</h2>
    <p><%= @venue_owner %> has suggested a venue for the event, <%= link_to("#{@event.name}", @url) %>.</p> 
    <p>Go to the event page and vote or change your vote if you like it! </p>

    <p> -Mo' Mondays App </p>
     ===============================================
  </body>
</html>