
<!DOCTYPE html>
<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<style type="text/css">

.mm_ttb {
  font-family: Arial, Verdana, Geneva, sans-serif;
  background-color: #F4F4F4;
  font-size: 14px;
}

</style>
</head>
<body>

<!-- Header -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td style="background-color: #777777;font-family: Arial, Verdana, Geneva, sans-serif;color: white;font-size: 18px;"><%= Venupickr::Application::APP_NAME %></td>
  </tr>
</table>

<!-- Body -->
<table class="mm_ttb" width="600" align="center" border="0" cellspacing="0" cellpadding="10" style="background-color:#f3f3f3;">
  <tr>
    <td>
    <h1 align = "center" style="font-size: 18px;font-family: Arial, Verdana, Geneva, sans-serif;"><%= @venue_owner %> has suggested a venue for the event, <%= link_to("#{@event.name}", @url) %>.</h1>
    
     <p align="center">Go to the <%= link_to("Event Page", @url) %> and vote or change your vote if you like it!</p>
    
    </td>
  </tr>
</table>

<!-- Footer -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" style="background-color: #e3e3e3;font-family: Arial, Verdana, Geneva, sans-serif;font-size: 11px;">www.<%= Venupickr::Application::APP_NAME.downcase %>.com</td>
  </tr>
</table>


</body>
</html>