<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>Mo' Mondays Mo' Problems!</p>
    ===============================================
    <h2>THERE'S A NEW VENUE SUGGESTED FOR YOUR EVENT!</h2>
    <p><%= @venue_owner %> has suggested/edited a venue for your event, '<%= @event.name %>' on the MoMondays App!</p> 
    <p>Go to your <%= link_to("Event's Page", @url) %> to see the venue and remove it if you don't approve. You have the power! </p>

    <p> -Mo' Mondays App </p>
     ===============================================
  </body>
</html>