<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>MO' VENUES MO' PROBLEMS!</p>
    ===============================================
    <h2>THERE'S A NEW VENUE SUGGESTED FOR YOUR EVENT!</h2>
    <p><%= @venue_owner %> has suggested/edited a venue for your event, <%= link_to("#{@event.name}", @url) %>!</p> 
    <p>Go to the event page to see the venue and remove it if you don't approve. You have the power! </p>

    <p> -Mo' Mondays App </p>
     ===============================================
  </body>
</html>