/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require "reset"
 *= require bootstrap.min.css
 *= require jquery-ui-1.10.3.custom.min.css
 *= require jquery.timepicker.css
 *= require_self
 *= require "events"
 *= require "pages"
 *= require "devise"
 */

 /*----------------------------------------------------------------------------- 
= NOTICE 
-----------------------------------------------------------------------------*/
#notice {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: #c09853;
	background: #fcf8e3;
}

 /*----------------------------------------------------------------------------- 
= HEADER
-----------------------------------------------------------------------------*/
 header {
 }

 #page_header {
 	width: 940px;
	margin: 0px auto;
 }

 #page_title > h1 {
	font-family: CF Midnight, Helvetica, Arial, sans-serif;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
}

#container {
}	

.nav {
 	margin-bottom: 0px;
 }

 #login-nav {
 }



 /*----------------------------------------------------------------------------- 
= LOGIN NAV
-----------------------------------------------------------------------------*/
#login-nav {
	margin-top: 8px;
	margin-left: 5px;
	text-align: right;
}

 /*----------------------------------------------------------------------------- 
= MAIN
-----------------------------------------------------------------------------*/

 #main {
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	background: #ededed;
 	min-height: 700px;
	border-radius: 5px;
		-moz-box-shadow: 0px 5px 20px 0px #000;
		-webkit-box-shadow: 0px 5px 20px 0px #000;
		box-shadow: 0px 5px 20px 0px #000;
 }

 /*----------------------------------------------------------------------------- 
FOOTER 
-----------------------------------------------------------------------------*/
footer {
	margin: 10px auto;
	font-size: 2em;
	text-align: center;
	font-weight: bolder;

}
