/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap.min.css
 *= require jquery-ui-1.10.3.custom.min.css
 *= require jquery.timepicker.css
 *= require_self
 *= require "events"
 *= require "pages"
 *= require "devise"
 *= require "guest"
 *= require "mobile"
 */

 html {height: 100%;}

 body {
 	height: 100%;
 	line-height: 1em;
 	color: #4C494D;
 	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
 }

 body h2 {
	font-weight: normal;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1em;
 }

 body li {
 	line-height: 1em;
 }

 #content_body {
 	background: #ededed;
 	min-height: 100%;
 	padding-bottom: 20px;
 }

 #nav_body {
 }

 #container {
 	padding-top: 5px;
 	min-height:	100%;
 }

 /*----------------------------------------------------------------------------- 
= NOTICE 
-----------------------------------------------------------------------------*/
#notice {
	text-align: center;
	font-size: 1.5em;
	height: inherit;
	color: #c09853;
	background: #F9F9C9;
}

 /*----------------------------------------------------------------------------- 
= PAGE TITLE AND LOGIN NAV
-----------------------------------------------------------------------------*/

#page_title {
	border-bottom: 1px solid gray;
	min-width: 100%;
	box-shadow: 0px 0px 5px 0px #000;
		-moz-box-shadow: 0px 0px 5px 0px #000;
		-webkit-box-shadow: 0px 0px 5px 0px #000;
}

 #banner {
 	width: 100%;
 	height: auto;
 }

#login-nav {
	text-align: center;
	margin: 10px auto;
}



 /*----------------------------------------------------------------------------- 
= NAV
-----------------------------------------------------------------------------*/
 #nav-container {
 	width: 100%;
 }
.nav {
	margin: 5px auto;
 }

 #navbar {
 }
 /*----------------------------------------------------------------------------- 
= MAIN
-----------------------------------------------------------------------------*/

 #main {
 	/*background: #ededed;
 	min-height: 700px;
	border-radius: 5px; */
	/*	-moz-box-shadow: 0px 5px 20px 0px #000;
		-webkit-box-shadow: 0px 5px 20px 0px #000;
		box-shadow: 0px 5px 20px 0px #000 */
	z-index: -99999;
	min-height: 100%;
	font-size: 1.1em;
		
 }

 /*----------------------------------------------------------------------------- 
FOOTER 
-----------------------------------------------------------------------------*/
footer {
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	background: white;
	padding: 8px 0px;
}
