
 @media only screen and (min-width: 600px) {

	body {
		font-size: 2.5em;
	}

	#page_title {
		min-width: 1200px;
		position: relative;
	}

	.nav>li>a {
		margin: 0px 30px;
 	}
	#banner {
		width: 50%;
		height: auto;
	}

	#login-nav {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-bottom: 0px;
		text-align: right;
		width: 45%;
		font-size: 0.8em;
	}

	.btn {
		font-size: 1em;
	}

} 