
 @media only screen and (min-width: 600px) {

 	/* WELCOME.CSS */
 	#home_container {
		top: 10%;
		text-align: center;
		height: inherit;
	}
	#home_header_text {

	}
	#home_action_links {

	}
	#home_action_links a {

	}

 	/* APPLICATION.CSS */
	body {
		font-size: 2.5em;
	}

	#page_title {
		min-width: 960px;
	}

	.nav>li>a {
		margin: 0px 30px;
 	}
	 .banner {
	 	padding-left: 10px;
	 	text-align: left;
	 }

	 .banner {
	 	position: relative;
	 }

	.login-nav {
		position: absolute;
		bottom: 0;
		right: 10px;
		margin-bottom: 0px;
		text-align: right;
		width: 45%;
		font-size: 0.8em;
	}

	#banner-bottom-header {
		display: block;
	}

	.register-link:hover {
		display: block;
		font-family: Verlag Bold;
		-webkit-transform: translate(0px, -5px);
		-moz-transform: translate(0px, -5px);
		transform: translate(0px, -5px);
	}
	.signed-in-link:hover {
		display: inline-block;
	}
	.help-dialog {
		font-size: 0.75em;
		width: 120%;
	}

	footer {
		font-size: 1em;
	}


	/* DEVISE.CSS */
	.user_session_page {
		width: 600px;
	}
	.user_session_page input {
		line-height: 1.5em;
	}
	.user_reg_page {
		width: 700px;
		margin: 0 auto;
	}
	.user_reg_page .field input {
		margin-left: 40px;
	}

	.actions .sign_up_btn {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.user_session_page .sign_up_btn {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 1em;
	}

	/* EVENTS.CSS FOR INDEX */
	.eventList {
		width: 80%;
		margin: 0 auto;
	}

	.eventList h2 {
		font-size: 1.2em;
	}
	.eventList .eventItem {
		padding: 15px;
	}
	.eventList .eventProgress {
		position: absolute;
		width: 40%;
		bottom: 11%;
		right: 2%;
		font-size: 0.85em
	}
	.eventIndexTimer {
		display: inline-block;
	}

	/* CSS for Forms */
	.field {
		margin-bottom: 25px;
	}
	.action-btn {
		width: 30%;
		font-size: 0.8em;
	}
	.modal-dialog {
		margin: 10px auto;
		font-size: 0.8em;
	}

	#createEventForm, #createVenueForm {
		margin-bottom: 0px;
		width: 60%;
	}
	#datepicker-container, #timepicker-container {
		display: inline;
	}
	#event_datepicker {
		margin-right: 10px;
	}
	#event_timepicker, #event_datepicker {
		width: 27%;
	}
	#eventDateSelect-container label {
		display: inline;
	}
	#venue_name, #venue_comments, #venue_address, #event_name, #event_notes {
		width: 70%;
	}
	.loading-gif-container {
		right: 10%;
		top: 50%;
	}

	.ui-dialog .ui-dialog-titlebar-close {
		right: 1em;
		top: 45%;
		color: white;
		background:none;
		border:none;
		font-family: Arial;
		font-size: 20px;
		width: inherit;
		height: inherit;
	}

	/* EVENTS.CSS FOR SHOW */
	#eventShow {
		width: 80%;
		margin: 30px auto;
	}
	.eventInfo-row {
		width: 70%;
	}

	#venueList {
		width: 80%;
		margin: 0 auto;
	}
	.rsvp-response {
		margin-bottom: 5px;
	}
	#rsvp-response-header {
		margin-bottom: 5px;
	}

	#venue-dialog-help-dialog {
		font-size: 0.7em;
		position: absolute;
		top: 0;
	}

	/* GUEST.CSS */
	#new-guest-form-header a {
		font-size: 0.8em;
	}
	#invite-list-help-dialog {
		top: 4%;
		right: 4%;

	}
	.close-help-dialog {
		font-size: 0.8em;
	}

	#email-dropdown {
		width: 100%;
	}
	#addEmailBtn {
		display: none;
	}

	#new-guest-form-invitelist {
		min-height: 300px;
	}

	/* ABOUT.PAGE */
	#about-container {
		padding: 5px 30px 10px 30px;
	}

	#beta-info p {
		margin-top: 50px;
	}



} 