
 @media only screen and (min-width: 600px) {

 	/* APPLICATION.CSS */
	body {
		font-size: 2.5em;
	}

	#page_title {
		min-width: 960px;
		position: relative;
	}

	.nav>li>a {
		margin: 0px 30px;
 	}
	#banner {
		width: 50%;
		height: auto;
	}

	#login-nav {
		position: absolute;
		bottom: 0;
		right: 10px;
		margin-bottom: 0px;
		text-align: right;
		width: 45%;
		font-size: 0.8em;
	}


	/* DEVISE.CSS */
	.user_session_page {
		width: 600px;
	}
	.user_session_page input {
		line-height: 1.5em;
	}
	.user_reg_page {
		width: 700px;
		margin: 0 auto;
	}
	.user_reg_page .field input {
		margin-left: 40px;
	}

	.actions .sign_up_btn {
		display: block;
		width: 50%;
		margin: 0 auto;
	}

	/* EVENTS.CSS FOR INDEX */
	.eventList {
		width: 80%;
		margin: 0 auto;
	}

	.eventList h2 {
		font-size: 2em;
	}
	.eventList .eventItem {
		padding: 15px;
	}

	.action-btn {
		width: 30%;
		font-size: 0.8em;
	}

	#createEventForm, #createVenueForm {
		margin-bottom: 0px;
		width: 60%;
	}
	#datepicker-container, #timepicker-container {
		display: inline;
	}
	#event_datepicker {
		margin-right: 10px;
	}
	#event_timepicker, #event_datepicker {
		width: 25%;
	}
	#eventDateSelect-container label {
		display: inline;
	}

	/* EVENTS.CSS FOR SHOW */
	#eventShow {
		width: 80%;
		margin: 30px auto;
	}
	.eventInfo-row {
		width: 70%;
	}

	#venueList {
		width: 80%;
		margin: 0 auto;
	}
	#venue_name, #venue_comments, #venue_address, #event_name, #event_notes {
		width: 50%;
	}

	/* ABOUT.PAGE */
	#about-container {
		padding: 5px 30px 10px 30px;
	}

} 