.user_session_page h1 {
	text-align: center;
	margin-top: 40px;
	font-weight: normal;
}

#sign_in_container {
	padding-top: 10px;
	padding-left: 0px;
	width: 40%;
	margin: 0 auto;
}

.user_session_page h2 {
	text-align: center;
}

.user_session_page form {
	width: 100%;
	margin: 0 auto;

}

.user_session_page label {
	display: inline;
}

.user_session_page input {
	width: 95%;
}

.user_session_page .actions {
	width: 35%;
	margin: 30px auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-right: 0px;
}

.sign_in_btn {
	width: 100%;
}

.user_session_page a {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

#user_remember_select {
	width: 40%;
	text-align: center;
	margin: 0 auto;
}

#user_remember_me {
	margin-top: 0px;
	width: 10px;
	text-align: center;
}

#notification_email_select {
	margin-bottom: 20px;
	margin-top: 10px;
}

#user_notification_emails {
	width: 20px;
	margin-top: 0px;
}

#user_notification_emails label {
	margin-top: 0px;
}

#user-edit-confirmation-container {
	border: 3px solid blue;
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0px #000;
		-moz-box-shadow: 0px 2px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;
	padding: 10px;
}
	#user-edit-confirmation-container label {
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
		display: block;
	}

.cancel_action {
	margin: 50px auto;
	width: 40%;
	text-align: center;
}
#cancel_btn {
	width: 80%;
	font-size: 0.8em;
}