/*----------------------------------------------------------------------------- 
= USER SIGN IN PAGE
-----------------------------------------------------------------------------*/
.sign-in-header{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
	.sign-in-header h1 {
		font-weight: normal;
		color: #2e6ab1;
	}

.user_session_page {
	width: 50%;
	margin: 20px auto;

	border: solid black 1px;
	border-radius: 15px;
	box-shadow: 0px 2px 5px 0px #000;
		-moz-box-shadow: 0px 2px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;
	padding: 0px 10px;
}


#sign-in-container {
	padding-left: 10px;
	height: 100px;
	width: 460px;
}

.user_session_page h2 {
	text-align: center;
	font-weight: normal;
}


.user_session_page label {
	display: inline;
}

.user_session_page input {
	margin-bottom: 5px;
}

#sign-in-container input {
	margin-bottom: 0px;
}

#sign-in-email {
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
	
}
#sign-in-password {
	float: left;
	margin-bottom: 5px;
}

#user_remember_select {
	clear:	both;
	display: inline-block;
	float: left;
}

#user_remember_me {
	margin-top: 0px;
	width: 10px;
	text-align: center;
}

#sign-in-container .actions {
	float: right;
	margin-right: 5px;
	padding-right: 0px;
}

#sign_in_btn {
	padding: 0px 5px;
	font-size: 0.9em;
	width: 50px;
}

#devise-links {
	clear: both;

}

	.devise-links a {
		display: block;
		text-align: center;
		margin: 5px 25px;
	}

/*----------------------------------------------------------------------------- 
= USER REGISTRATION PAGE
-----------------------------------------------------------------------------*/
.user_reg_page .field input {
	width: 90%;
	margin-left: 20px;
}

.sign_up_btn {
	display: block;
	margin: 0 auto;
}

/*----------------------------------------------------------------------------- 
= USER SETTINGS PAGE
-----------------------------------------------------------------------------*/
#notification_email_select {
	margin: 5px 0px;
	text-align: center;
}

#user_notification_emails {
	margin-left: 0px;
}

#user_notification_emails {
	width: 20px;
	margin-top: 0px;
}

#user_notification_emails label {
	margin-top: 0px;
}

#user-edit-confirmation-container {
	margin: 20px auto;
	padding-top: 10px;
	width: 80%;
	border-top: solid 1px black;
}
	#user-edit-confirmation-container label {
		font-weight: bold;
		display: block;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 5px;
	}
	#user-edit-confirmation-container input {
		display: block;
		width: 200px;
		margin: 0px auto;
	}
	#user-edit-confirmation-container .sign_up_btn {
		width: 120px;
		font-size: 0.85em;
		text-align: center;
		padding: 0px 5px;
	}

/*----------------------------------------------------------------------------- 
= RESEND CONFIRMATION AND PASSWORD FORM
-----------------------------------------------------------------------------*/
.resend-info-form {
	text-align: center;
	margin-bottom: 10px;
}
	.resend-info-form #user_email {
		margin-bottom: 10px;
	}





.user_session_page #back-link {
	display: block;
	text-align: center;
}
.cancel_action {
	margin: 50px auto;
	width: 40%;
	text-align: center;
}
#cancel_btn {
	width: 80%;
	font-size: 0.8em;
}