#hero-pic {
	width: 940px;
	height: 200px;
}

.nav li:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}

.nav li>a:hover { 
	background: none;
}


.eventList {
	margin-left: 10px;
	margin-right: 0px;
}

.eventList h2 {

}

#votingEvents h2{
	margin-top: 10px;
}

#newEventCreate {
	float: right;
	margin-top: 18px;
}

.eventList ul {
	margin: 0px;
}


.eventList .eventItem {
	margin-left: 0px;
	margin-bottom: 10px;
	border: solid 1px black;
	box-shadow: 0px 2px 5px 0px #000;
		-moz-box-shadow: 0px 2px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;

	padding: 5px;
	padding-right: 0px;
	background: white;
	/*background-image: -webkit-linear-gradient(top, #D7D9D8, #EDF0EE );
   	background-image: -moz-linear-gradient(100% 100% 90deg, #EDF0EE, #D7D9D8);*/
}

.eventList .eventItem:hover {
	background: #F9F9C9;

	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
	
	.eventLabel {
		padding-left: 10px;
		padding-right: 20px;
		margin-left: 0px;
	}
	.eventName {
		font-weight: bold;
		font-size: 1.3em;
		height: 23px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.eventList .eventActions {
	float: right;
}
	.eventClock p {
		text-align: center;
		margin-bottom: 0px;
	}

	.eventIndexTimer {
		color: green;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.3em;
		display: block;
		height: 15px;
		margin-bottom: 5px 0px;
	}

	.eventActionLink {
		margin-top: 10px;
		text-align: center;
	}
	.eventActionLink a {
		width: 100px;
	}

.event-voting-btn {
	font-size: 0.85em;
}

.event-upcoming-btn {
	font-size: 0.85em;
	margin-top: 8px;
}


#newsFeed {
	background: white;
	font-size: 0.9em;
	border: solid 1px rgb(90,90,90);
	overflow: hidden;
	margin-top: 5px;
}

#newsFeed-header {
	text-align: center;
	margin-top: 0px;
	padding-left: 5px;
}

#newsFeed ul {
	height: 800px;
	margin: 0px;
	margin-bottom: 10px;
	overflow: auto;
}
#newsFeed li {
	/*border-bottom: groove 2px black;
	border-top: groove 2px black;*/
	padding: 0px 0px;
	font-style: italic;
}

.update-item-container {
	padding: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: solid 1px #e9eaed;

}
.newsFeed_timestamp {
	font-weight: normal;
	color: green;
}

.noEventsLabel {
	font-weight: bold;
	color: red;
	text-align: center;
}
.noVenues  {
	margin-left: 0px;
	margin-bottom: 5px;
	border: inset 2px red;
	border-radius: 2px;
	padding: 5px;
	padding-right: 0px;
	background: white;
}

.noEventsLabel li:nth-child(2) {
	font-style: italic;
}



/*----------------------------------------------------------------------------- 
= SHOW EVENT VIEW
-----------------------------------------------------------------------------*/

#eventShow {

}


#eventShow .span4 {
}

#eventSideBar {
	margin-top: 20px;
	padding-left: 0px;
	text-align: left; 
	font-size: 0.9em;
}

.eventbox {
	margin-bottom: 20px;
	border: inset 1px gray;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px #000;
		-moz-box-shadow: 0px 0px 5px 0px #000;
		-webkit-box-shadow: 0px 0px 5px 0px #000;
}

.eventbox-header {
	border-bottom: solid 1px #e9eaed;
	padding: 5px 10px;
	background: white;
}
	.eventInfo-header-text {
		font-size: 1.6em;
		font-weight: bold;
	}

	.eventbox-header span {
		margin-bottom: 2px;
		margin-right: 6px;
		font-size: 0.95em;
	}
	.eventbox-secondary-header-text {
		font-size: 1.1em;
		font-weight: bold;
	}

.eventbox-content {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 1.1em;
	background: white;
}
	#eventInfo-notes-container {
		border-top: solid 1px #e9eaed;
	}
	#eventInfo-notes{
		padding: 5px 15px;
		max-height: 150px;
		overflow: auto;
		font-style: italic;
	}
	#eventInfo-notes p {
		margin-bottom: 0px;
	}
	.eventbox-content-ul {
		margin-left: 0px;
		margin-bottom: 5px;
		padding-left: 15px;
	}
	.eventInfo-content-heading {
		cursor: auto;
		font-size: 1em;
		display: inline;
	}
	.eventInfo-row span {
		font-weight: bold;
		float: right;
		margin-right: 10px;
	}

#event-guestlist {
	max-height: 100px;
	overflow-y: auto;
}

.guestlist-row {
	clear: both;
}

.guestlist-name {
	clear: both;
	float: left;
	width: 50%;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.rsvp-response {
	float: right;
	width: 40%;
}
.rsvp-response-text {
	display: block;
	text-align: center;
	font-style: italic;
}

.rsvpButton {
	font-size: 0.85em;
	padding: 0px 5px;
}


#discussionBoard-container {
	height:	500px;
	padding-right: 0px;
	background: white;
	overflow: auto;
}

#post_comment_form {
	margin-bottom: 0px;
}
#enterCommentsField {
	height: 15px;
	width: 70%;
	margin-top: 8px;
	margin-left: 8px;
	margin-bottom: 0px;
	font-size: 0.9em;
}

#postCommentButton {
	margin-top: 10px;
	margin-right: 5px;
	height: 22px;
	font-size: 0.85em;
	padding: 2px 10px;
	float: right;
}

#discussionBoard {
	font-size: 0.85em;
}

#discussionBoard ul {
	clear: both;
	display: block;
	padding-top: 5px;
	margin-right: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#discussionBoard ul:hover {

}

.comment_timestamp {
	color: blue;
	font-weight: bold;
}


#suggestVenueLink {
	float: right;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#event_show_venue_suggestion_off_tag {
	float:right;
	font-style: italic;
	margin-top: 25px;
	margin-right: 10px;
	font-size: 0.9em;
	color: gray;
}

#venueSuggestionIndicator {
	font-weight: bold;
	color: #40ABCB;
	text-align: center;

	margin-left: 0px;
	margin-bottom: 5px;
	border: inset 2px #40ABCB;
	border-radius: 2px;
	padding: 5px;
	padding-right: 0px;
	background: white;
}

#venueList-container {
	margin-left: 10px;	
}
	#venueList-header {
		margin-left: 30px;
	}

	#venueList-header h2 {
		margin: 10px 0px;
	}

	#venueList {
		text-align: left;
		padding-left: 20px;
		padding-bottom: 30px;
		margin: 0px 0px;
	}

	#venueList:hover {
	}

	#venueList li.listItem{
		position: relative;
		list-style: none;
	    margin-bottom: 10px;
	    margin-top: 10px;
	    margin-left: 20px;
	    border: 1px solid black;
	    box-shadow: 0px 2px 5px 0px #000;
			-moz-box-shadow: 0px 2px 5px 0px #000;
			-webkit-box-shadow: 0px 2px 5px 0px #000;
		background: #F9F9C9;
		/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9C9), to(#EBEB00));
		background: -moz-linear-gradient(100% 100% 90deg, #EBEB00, #F9F9C9);*/
		background-image: -webkit-linear-gradient(top, #F9F9C9, #F5F5CB );
		background-image: -moz-linear-gradient(100% 100% 90deg, #F5F5CB, #F9F9C9);
	}

	.venueSticky {
		font-family: Courier;
		line-height: 1em;
		background: white;
		padding: 5px;
		padding-right: 60px;
		padding-left: 20px;
		background: transparent;
	}

	.venueStickyHeader {
		margin-bottom: 0px;
		font-weight: bolder;
		font-size: 1.2em;
	}

	.venueSuggestor {
		margin-bottom: 10px;
		font-style: italic;
	}

	.venueStickyInfo {
		margin-left: 10px;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.venueStickyInfo p {
		margin-bottom: 0px;
	}

	.venue_modifiers {
		margin-left: 3px;
		margin-bottom: 3px;
		font-family: Courier;
	}

	#venueList .voteControls {
		float: right;
		margin-top: 0px;
		margin-right: 0px;
		display: block;
		height: 100%;
	}
		.voteCount {
			font-size: 2.5em;
			position: absolute;
			top: 10px;
			right: 7px;
			cursor: pointer;

			color: blue;

		}
		.voteIcon {
			position: absolute;
			bottom: 2px;
			right: 0px;
			margin: 0px;
		}
		.voteButton img {
			width: 35px;
			height: auto;
		}
		.voteButton img:hover {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}

		#checked_venue {
			width: 32px;
			height: auto;

			position: relative;
			bottom: 2px;
			right: 2px;
			margin: 0px;
		}

	.voteList {
		background: white;
		text-align: center;
		position: absolute;
		display: none;
		z-index: 10000;

		border: 2px solid gray;
		border-radius: 5px;
		right: 40px;
		top: -10px;
		padding: 5px;
	}
		.voteList h5 {
			margin-bottom: 2px;
			margin-top: 0px;
		}
		.voteList li {
			display: block;
		}


/*----------------------------------------------------------------------------- 
= FINISHED EVENT#SHOW
-----------------------------------------------------------------------------*/
#eventOverHeading {
	font-size: 2.0em;
	color: red;
	font-weight: bold;
	line-height: 1.2em;
	float: left;
	margin-top: 15px;

}

#eventCancelledHeading {
	font-size: 2em;
	color: red;
	font-weight: bold;
	line-height: 1.2em;
	width: 500px;
	position: absolute;
	top: 250px;
	right: 150px;
}

#rsvpList {
}

#rsvpButton-container {
	float: left;
}
#rsvpButton {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#rsvpList p {
	font-weight: bold; 
	font-size: 1.5em;
}

#rsvpList ul {
	text-align: center;
	clear: both;
	float: left;
	padding: 10px;
	margin-left: 0px;
	width: 60%;
	max-height: 260px;
	overflow-y: auto;
	
	background: white;
	border: solid 2px black;
	border-radius: 10px;
		-moz-box-shadow: 0px 5px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;
		box-shadow: 0px 2px 5px 0px #000;
}

#rsvp-delete {
	color: red;
	font-size: 1.1em;
}

/*----------------------------------------------------------------------------- 
= CREATE VENUE/EVENT FORMS
-----------------------------------------------------------------------------*/
#addNamestoUserAlert {
	display: none;
}
#addNamestoUserAlert a {
	text-decoration: underline;
	text-align: center;
	color: #08c;
	margin-left: 180px;
	
}

.new_event .field, #new_venue .field, .edit_event .field, .edit_venue .field, #invite_guest_form .field {
	text-align: center;
}

.new_event .actions, #new_venue .actions, .edit_event .actions, .edit_venue .actions, #invite_guest_form .actions {
	text-align: center;
	margin-top: 20px;
}

.field {
	margin-bottom: 10px;
}

button.ui-dialog-titlebar-close {
}

#error_explanation {
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
	   text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#venue_url {
	width: 300px;
}

#venue-loading-gif-container {
	position: absolute;
	right: 60px;
	top: 37px;
}

#datetime_select select:nth-child(1) {
	width: 75px;
}

#datetime_select select:nth-child(2) {
	width: 75px;
}

#datetime_select select:nth-child(4) {
	width: 85px;
}

#datetime_select select {
	width: 55px;
	font-size: 0.75em;
}

#event_vote_start {
	width: 55px;
}

#event_vote_end {
	width: 80px;
}
#event_vote_end_label {
	font-size: 0.83em;
}

#event_vote_end_calc {
	height: 30px;
	font-style: italic;
}
#event_name {
	width: 350px;
}
#event_notes {
	width: 350px;
	resize: none;
}

#eventDateSelect-container {
	font-size: 0.85em;
}

#event_timepicker {
	width: 80px;
	cursor: pointer;
	background: white;
}

#event_datepicker {
	width: 100px;
	cursor: pointer;
	background: white;
}

#event_allow_venue_suggestion {
	margin-bottom: 5px;
}

#allow_venue_suggestion_select label {
	display: inline;
}

/*----------------------------------------------------------------------------- 
= GLOBAL STYLINGS
-----------------------------------------------------------------------------*/

.red {
	color: red;
	font-weight: bold;
}

.blue {
	color: blue;
	font-weight: bold;
}

.green {
	color: green;
	font-weight: bold;
}

.italic {
	font-style: italic;
}
