#eventList h2 {
	padding-left: 10px;
}

#newEventCreate {
	float: right;
	margin-top: 20px;
	margin-right: 3px;
}

#eventList ul li {
	margin-left: 5px;
	margin-bottom: 5px;
	border: inset 2px gray;
	border-radius: 5px;
	padding: 5px;

	background: white;
	/*background-image: -webkit-linear-gradient(top, #D7D9D8, #EDF0EE );
   	background-image: -moz-linear-gradient(100% 100% 90deg, #EDF0EE, #D7D9D8);*/
}

#eventList ul li:hover {
	background: #F9F9C9;
}
	
	.eventLabel {
		padding-left: 10px;
	}
	#eventName {
		font-weight: bold;
		font-size: 1.5em;
	}

#eventList ul li .span2 {
	margin-left: 50px;
}
	.eventClock p {
		text-align: center;
		margin-bottom: 0px;
	}

	.eventIndexTimer {
		color: red;
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
		font-style: normal;
		line-height: 1.3em;
		display: block;
		height: 15px;
		margin-bottom: 5px 0px;
	}

	.eventActionLink {
		margin-top: 10px;
	}


#newsFeed {
	min-height: 700px;
	border-left: solid 2px gray;
}

#newsFeed h2 {
	text-align: center;
}

#newsFeed ul {
	padding: 0px 20px;
	margin-left: 0px;
}
#newsFeed li {
	border-bottom: groove 2px black;
	padding: 5px 0px;
}


/*----------------------------------------------------------------------------- 
= SHOW EVENT VIEW
-----------------------------------------------------------------------------*/

#eventShow {

}

/*----------------------------------------------------------------------------- 
= CREATE VENUE/EVENT FORMS
-----------------------------------------------------------------------------*/

