

.eventList {

}

.eventList h2 {
	color: #333633;
	text-align: center;
}

#upcomingEvents {
	margin-bottom: 15px;
}
#votingEvents h2{
	margin-top: 10px;
	text-align: center;
	color: #333633;
}

.eventList-header{

}

.eventList ul {
	margin: 0px;
}

#newEventBtn-container {
	display: block;
	text-align: center;
}

.action-btn {
	width: 90%;
	margin-bottom: 10px;
	font-size: 1em;
	white-space: normal;
}
	.action-btn:hover {
		background-color: #FF7F00;
		border-color: #FF7F00
	}

.eventItem-link {
	color: inherit;
	text-decoration: none;
}
.eventItem-link:hover {
	text-decoration: none;
}

.eventList .eventItem {
	border: solid 1px #808080;
	border-radius: 2px;
	position: relative;
	display: block;
	line-height: 1.2em;
	margin-left: 0px;
	margin-bottom: 10px;
	padding: 5px;
	padding-right: 0px;
	background: white;


	/*background-image: -webkit-linear-gradient(top, #D7D9D8, #EDF0EE );
   	background-image: -moz-linear-gradient(100% 100% 90deg, #EDF0EE, #D7D9D8);*/
}

.eventList .eventItem:hover {
	background: #F9F9C9;
	font: black;
}
	.eventItem-span {
		position:absolute; 
		width:100%;
		height:100%;
		top:0;
		left: 0;
		margin-left: 0;
		z-index: 1;
	}

	.eventIndexModifiers {
		font-weight: normal;
	}
	.edit-event, .delete-event {
		position: relative;
		z-index: 2;
	}
	
	.eventLabel {
		display: inline-block;
		width: 50%;
		padding-left: 10px;
		padding-right: 20px;
		margin-left: 0px;
	}
	.eventName {
		font-family: Verlag Bold;
		color: #FF7F00;
		margin-bottom: 2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.eventList .eventProgress {
	position: absolute;
	width: 50%;
	bottom: 6%;
	right: 2%;
	font-size: 0.85em;

	color: #808080;
}
	.eventClock p {
		text-align: right;
		margin-bottom: 0px;
	}

	.eventIndexTimer {
		display: block;
	}

.event-voting-btn {
	font-size: 0.85em;
}

.event-upcoming-btn {
	font-size: 0.85em;
	margin-top: 8px;
}


#newsFeed {
	background: white;
	font-size: 0.9em;
	border: solid 1px rgb(90,90,90);
	overflow: hidden;
	margin-top: 5px;
}

#newsFeed-header {
	text-align: center;
	margin-top: 0px;
	padding-left: 5px;
}

#newsFeed ul {
	min-height: 600px;
	margin: 0px;
	margin-bottom: 10px;
	overflow: auto;
}
#newsFeed li {
	/*border-bottom: groove 2px black;
	border-top: groove 2px black;*/
	padding: 0px 0px;
	font-style: italic;
}

.update-item-container {
	padding: 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: solid 1px #e9eaed;

}
.newsFeed_timestamp {
	font-weight: normal;
	color: green;
}

.noEventsLabel {
	font-weight: bold;
	color: #FF7F00;
	text-align: center;
	line-height: 1em;
}

.noVenuesLabel {
	font-style: italic;
	text-align: center;
	line-height: 1em;
}
	.noVenuesLabel li {
		list-style: none;
		padding: 10px;
	}

#voteMeterDialog {
	color: #2D46CF;
	border: inset 2px #2D46CF;
	font-size: 0.9em;
}


#voteMeterDialog #description {
	text-align: left;
	padding: 2px 8px;
	font-weight: normal;
}



/*----------------------------------------------------------------------------- 
= SHOW EVENT VIEW
-----------------------------------------------------------------------------*/

.eventbox {
	background: white;
	margin-left: 0px;
	margin-bottom: 20px;
	border: inset 1px gray;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px #000;
		-moz-box-shadow: 0px 0px 5px 0px #000;
		-webkit-box-shadow: 0px 0px 5px 0px #000;
}

.eventbox-header {
	border-bottom: solid 1px #e9eaed;
	padding: 2px 20px;
	padding-right: 5px;
	margin-bottom: 5px;
}
	.eventInfo-header-text {
		font-size: 1.6em;
		font-weight: bold;
		padding: 10px 0px;
		text-align: center;
	}
	#eventShowModifiers {
		display: block;
		text-align: center;
	}

	.eventbox-header span {
		margin-bottom: 2px;
		padding: 0px 15px;
		font-size: 0.95em;
	}
	.eventbox-secondary-header-text {
		font-size: 1.1em;
		font-weight: bold;
		text-align: center;
	}

.eventbox-content {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 1.1em;
	background: white;
}
	
	.eventbox-content-ul {
		margin-left: 0px;
		margin-bottom: 5px;
		padding-left: 15px;
	}
	.eventInfo-row {
		display: block;
		margin: 0 auto;
	}
	.eventInfo-content {
		float: right;
		margin-right: 10px;
	}
	.eventInfo-content-heading {
		cursor: auto;
		font-size: 1em;
		font-weight: bold;
		text-align: left;
	}

	#eventInfo-notes-container {
		border-top: solid 1px #e9eaed;
		padding: 5px 25px;
	}
	#eventInfo-notes-header {
		margin-top: 10px;
		font-weight: bold;
	}
	#eventInfo-notes{
		font-style: italic;
	}
	#eventInfo-notes p {
		margin-bottom: 0px;
	}

#event-guestlist {
	overflow-y: auto;
}

#show-friends-invite-dialog {
	text-align: center;
	font-weight: normal;
}

.guestlist-row {
	margin-bottom: 5px;
	border-bottom: dotted 1px gray;
	clear: both;
	text-align: center;
}

.guestlist-row-no-guests {
	margin-bottom: 5px;
	clear: both;
	text-align: center;
}

.guestlist-name {
	clear: both;
	float: left;
	width: 50%;
	line-height: 50px;
	text-overflow: ellipsis;
}

.rsvp-response {
	float: right;
	width: 50%;
	line-height: 40px;
}
.rsvp-response-text {
	display: block;
	line-height: 50px;
	font-style: italic;
}

.remove-guest-link {
	float: right;
	margin-right: 5%;
	font-style: normal;
}

.rsvpButton {
	font-size: 0.85em;
	width: 45%;
	text-align: center;
	white-space: normal;
word-wrap: normal;
}

#discussionBoard-container {
	padding-right: 0px;
	background: white;
}
#post-comment-form-container {
	padding: 0px 10px;
}
#post_comment_form {
	display: block;
	margin: 0 auto;
}
#enterCommentsField {
	line-height: 2em;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 0.9em;
}

#newCommentBtn {
	display: block;
	margin: 10px auto;
}

#discussionBoard-comments {
	font-size: 0.85em;
}

#discussionBoard-comments ul {
	clear: both;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	
	overflow: auto;
	border: 1px solid #333633;
}
#discussionBoard-comments ul:hover {
}

.comment_timestamp {
	color: #428bca;
	font-weight: bold;
}

.venueList-header {
	float: left;
}
.newVenueBtn-container {
	text-align: center;
}

#newVenueBtn, #newGuestsBtn {
	margin-top: 10px;
}

#event_show_venue_suggestion_off_tag {
	font-style: italic;
	font-size: 0.9em;
	color: gray;
	padding: 10px 0px;
}

#venueList-container {
}
	#venueList-header {
		margin-left: 30px;
	}

	#venueList-header h2 {
		margin: 0px 0px;
		color: #2e6ab1;
		float: left;
	}
	#venueSuggestionIndicator {
		font-weight: bold;
		color: #40ABCB;
		border: inset 2px #40ABCB;
	}

	.venueList-note {
		font-size: 0.8em;
		margin-left: 0px;
		margin-bottom: 5px;
		padding: 10px 0px;
		background: white;
		text-align: center;
	}

	#venueList {
		text-align: left;
		margin: 0px;
		margin-bottom: 10px;
	}

	#venueList:hover {
	}

	#venueList li.listItem{
		position: relative;
		list-style: none;
	    margin-bottom: 10px;
	    margin-top: 10px;
	   	padding: 10px 5px 0px 5px;
		background: #F9F9C9;
		border: 1px solid #333633;
		/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9C9), to(#EBEB00));
		background: -moz-linear-gradient(100% 100% 90deg, #EBEB00, #F9F9C9);*/
		background-image: -webkit-linear-gradient(top, #F9F9C9, #F5F5CB );
		background-image: -moz-linear-gradient(100% 100% 90deg, #F5F5CB, #F9F9C9);
	}

	.venueSticky {
		line-height: 1em;
	}
	.venueSticky-content {
		padding-left: 20px;
		padding-right: 60px;
		padding-top: 5px;
	}

	.venueStickyHeader {
		margin-bottom: 0px;
		font-weight: bolder;
		font-size: 1.4em;
	}
		.venue_modifiers {
			margin-bottom: 5px;
		}

		.venue_modifiers a {
			vertical-align: inherit;
		}

	.venueSuggestor {
		margin-bottom: 10px;
		font-style: italic;
		font-weight: normal;
		font-size: 0.8em;
	}

	.venueStickyInfo {
		margin-bottom: 10px;
	}
	.venueStickyInfo p {
		margin-bottom: 0px;
	}

	.venueSticky-footer {
		border-top: solid 1px #333633;
		display: inline-block;
		width: 100%;
		padding: 5px 0px;
		box-shadow: inset 0 5px 5px -5px #000;
			-moz-box-shadow: inset 0 5px 5px -5px #000;
			-webkit-box-shadow: inset 0 5px 5px -5px;
	}


	#venueList .voteCount-container {
		float: right;
		margin-top: 0px;
		margin-right: 0px;
		display: block;
		height: 100%;
	}
		.voteCount {
			font-size: 2em;
			line-height: 1em;
			position: absolute;
			top: 1%;
			right: 2%;
			cursor: pointer;
			color: #428bca;

		}
		.voteIcon {
			margin-left: 10px;
			text-align: center;
		}
				.checked_venue {
					width: 5%;
					height: auto;
				}

				.vote-for-hint {
					margin-left: 10px;
					font-style: italic;
					font-size: 0.8em;
				}

		.voteButton {
			font-size: 1em;
			padding: 0px 3px;
			margin-bottom: 0px;
		}

		.selected-venue {
			font-weight: bold;
			margin-bottom: 5px;
			color: green;
		}

		.voteMeter{
			position: relative;
			float: right;
			margin-left: 10px;
			margin-top: 5px;
			height: 25px;
			width: 20%;
			background: gray;
		}
			.voteMeter-value {
				position: absolute;
				right: 2%;
				left: 1%;
				bottom: 14%;
				top: 14%;
				background: #FF05AA;
			}
			.voteMeter-cover {
				position: absolute;
				right: 2%;
				left: 5%;
				bottom: 14%;
				top: 14%;
				background: gray;	
			}

	.voteList {
		background: white;
		text-align: center;
		position: absolute;
		display: none;
		z-index: 10000;
		font-size: 0.8em;

		border: 2px solid gray;
		border-radius: 5px;
		right: 40px;
		top: -10px;
		padding: 5px;
	}
		.voteList h5 {
			font-size: inherit;
			margin-bottom: 2px;
			margin-top: 0px;
		}
		.voteList li {
			display: block;
		}

	#event-nav {
		margin-top: 30px;
		text-align: center;
	}
	.hide-toggle {
		display: none;
	}

	.event-nav-link {
		cursor: pointer;
		display: inline-block;
		color: #333633;
		background-color: white;
		width: 32%;
		border: 1px solid #333633;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		padding: 5px 0px;
	}
	.event-nav-link:hover {
		text-decoration: none;
		font-weight: bold;
		color: white;
		background-color: #FF7F00;
	}
	.hide-toggle-2, .hide-toggle-3 {
		display: none;
	}





/*----------------------------------------------------------------------------- 
= FINISHED EVENT#SHOW
-----------------------------------------------------------------------------*/
.eventOverHeading {
	font-size: 2.0em;
	color: red;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;

}

#rsvpList {
}

#rsvpButton-container {
	float: left;
}
#rsvpButton {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#rsvpList p {
	font-weight: bold; 
	font-size: 1.5em;
}

#rsvpList ul {
	text-align: center;
	clear: both;
	float: left;
	padding: 10px;
	margin-left: 0px;
	width: 60%;
	max-height: 260px;
	overflow-y: auto;
	
	background: white;
	border: solid 2px #333633;
	border-radius: 10px;
		-moz-box-shadow: 0px 5px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;
		box-shadow: 0px 2px 5px 0px #000;
}

#rsvp-delete {
	color: red;
	font-size: 1.1em;
}

/*----------------------------------------------------------------------------- 
= CREATE VENUE/EVENT FORMS
-----------------------------------------------------------------------------*/
.ui-widget-header {
	background: #FF7F00;
	color: white;
	border: none;
}

.ui-widget-content {
	border: 2px solid #333633;
	background: whitesmoke;
}

.ui-widget-overlay {
	opacity: 0.7;
}

.new_event .field, #new_venue .field, .edit_event .field, .edit_venue .field, #invite_guest_form .field {
	text-align: center;
}

.new_event .actions, #new_venue .actions, .edit_event .actions, .edit_venue .actions, #invite_guest_form .actions, #new-guest-form .actions{
	text-align: center;
	margin-top: 20px;
}

.field {
	margin-bottom: 10px;
}


.ui-dialog .ui-dialog-titlebar-close {
	color: white;
	background:none;
	border:none;
	font-family: Arial Black;
}

.createForm label {
	display: block;
	font-size: inherit;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 1em;
}

#venue_address, #event_notes {
	height: 100px;
	width: 75%;
	line-height: 1em;
	font-size: 0.8em;
}

#venue_name, #venue_comments, #event_name {
	width: 75%;
	height: 2em;
}

.createForm input {
	height: inherit;
}

#error_explanation {
  width: 90%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

#error_explanation h2 {
    font-weight: bold;
    font-size: 1em;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    list-style: none;
}

#venue_url {
	width: 300px;
}

.venue-name-input {
	position: relative;
}

.loading-gif-container {
	position: absolute;
	right: 3%;
	top: 60%;
}
.loading-gif {
	width: 25px;
}

#datetime_select select:nth-child(1) {
	width: 80%;
}

#datetime_select select:nth-child(2) {
	width: 75px;
}

#datetime_select select:nth-child(4) {
	width: 85px;
}

#datetime_select select {
	width: 55px;
	font-size: 0.75em;
}

#event_vote_start {
	width: 55px;
}

#event_vote_end {
	height: inherit;
	text-align: center;
}
#event_vote_end optgroup {
	font-size: 2em;
}
#event_vote_end_label {
	font-size: 0.83em;
	margin-bottom: 2px;
}

#event_vote_end_calc {
	font-weight: bold;
	font-style: italic;
	font-size: 0.8em;
}
#event_notes {
	resize: none;
}
#eventDateSelect-container {
	margin-bottom: 20px;
}

#eventDateSelect-container label {
	display: inline;
}

#datepicker-container, #timepicker-container {
	display: block;
}

#datepicker-container {
	padding-left: 21px;
	margin-bottom: 10px;
}

#event_timepicker, #event_datepicker {
	cursor: pointer;
	background: white;
	height: 2em;
	text-align: center;
	font-size: 0.85em;
	margin-right: 30px;
	width: 50%;
}

#event_datepicker {
	margin-right: 50px;
}

.ui-timepicker-list {
	text-align: center;
}

#event_allow_venue_suggestion {
	margin-bottom: 5px;
}

#allow_venue_suggestion_select label {
	display: inline;
	font-size: 0.8em;
}

#eventSubmitButton, #venueSubmitButton {
	color: white;
	background: #FF7F00;
}
#eventSubmitButton:hover, #venueSubmitButton:hover {
	background: #CC6702;
}


/*----------------------------------------------------------------------------- 
= TEMPORARY DIALOG POPUPS
-----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------- 
= GLOBAL STYLINGS
-----------------------------------------------------------------------------*/
.btn {
}
.red {
	color: red;
	font-weight: bold;
}

.blue {
	color: #2e6ab1;
	font-weight: bold;
}

.green {
	color: green;
	font-weight: bold;
}

.selected-nav {
	background: #FF7F00;;
	color: white;
	font-weight: bold;
}

.float-right {
	float: right;
}

.clear {
	clear:both;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}
