#inviteGuestsForm {
	width: 100%;
}

#select_buttons {
	font-size: 0.7em;
	text-align: center;
}


#invite_guest_form_userlist_header {
	color: #2e6ab1;
	font-weight: normal;
	text-align: center;
}

#invite_guest_form_userlist {
}



input[class = "guest_checkbox"] {
	margin: 0px;
}

.guest_checkbox_label {
	font-size: 0.8em;
	display: inline-block;
	width: 80%;
	margin: 0px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}
