#inviteGuestsForm {
	width: 100%;
}
	
#new-guest-form-header h2 {
	color: #F06305;
	text-align: center;
	font-weight: bold;
}
#new-guest-form-header {
	text-align: center;
}
#new-guest-form-header h2 {
	margin-bottom: 0px;
}
#new-guest-form-header a {
	font-size: 1em;
}

#invite-list-container {
	position: relative;
	margin-top: 5px;
}

#invite-list-help-btn img {
	width: 5%;
	height: auto;
}

.close-help-dialog {
	text-decoration: none;
	color: #428bca;
	position: absolute;
	cursor: pointer;
	font-weight: bold;
	right: 5px;
	top: 0;
}
.close-help-dialog:hover {
	color: blue;
}

#invite-list-help-dialog {
	position: absolute;
	top: -25%;
	right: 0%;
}

#gmail-hover-help-dialog {
	position: absolute;
	top: 20%;
	right:10%;
	width: 80%;
}
	#gmail-hover-help-dialog ul li {
		list-style: none;
	}

.help-btn {
	position: absolute;
	right: 1%;
	top: 1%;
	font-weight: bold;
	color: #428bca;
	padding: 0px 8px;
}
	.help-btn:hover {
		text-decoration: none;
	}

#email-entry-container h2 {
	margin: 0px auto;
	margin-top: 15px;
}

	#gmail-contacts-hint {
		font-style: italic;
		font-weight: bold;
		text-align: center;
	}
	#gmail-contacts-hint p {
		color: #428bca;
		font-size: 0.8em;
		margin-bottom: 0px;
	}

	#gmail-contacts-link {
		font-size: 0.8em;
	}

	#email-dropdown {
		border: none;
		width: 70%;
		padding-right: 2px;

	}

	#email-input-border {
		background-color: white;
		border: 1px inset #808080;
		padding: 2px;
	}

	#addEmailBtn {
		font-size: 0.7em;
		float: right;
	}


#new-guest-form-invitelist {
	cursor: text;
	margin-bottom: 10px;
	background: white;
	min-height: 150px;
	overflow: auto;
	padding: 5px;
	border: 1px solid #808080;
}

	#new-guest-form-invitelist span {
		display:block;
		margin:0 3px 3px 0;
		padding:3px 30px 4px 8px;  
	    position: relative;
	    float: left;
	    background-color: #eee;  
	    border: 1px solid #333; 
	    	-moz-border-radius: 5px;  
	    	-webkit-border-radius: 5px;
	    	border-radius:5px;

	    color:#333;  
	    font: normal 0.8em Verdana, Sans-serif;  
	}

	#new-guest-form-invitelist span a {  
	    position: absolute; 
	    right:6px; 
	    color:#666;  
	    font: bold 1em Verdana, Sans-serif;
	    text-decoration: none;
	    cursor: pointer;
	} 
	#new-guest-form-invitelist span a:hover {  
	    color:blue;
	} 

#new-guest-form .actions {
	margin-bottom: 10px;
}

#form-submit-filler-text {
	display: none;
	font-style: italic;
	text-align: center;

}



