/*----------------------------------------------------------------------------- 
= LANDING PAGE (/pages/welcome)
-----------------------------------------------------------------------------*/
#welcome-hero {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	border-radius: 2px;
	color: white;
	padding: 5px 30px;
	margin-bottom: 10px;
		
	background: #c5c5c5;
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9C9), to(#EBEB00));
	background: -moz-linear-gradient(100% 100% 90deg, #EBEB00, #F9F9C9);*/
	background-image: -webkit-linear-gradient(top, #0A3482, #2e6ab1 );
	background-image: -moz-linear-gradient(100% 100% 90deg, #0A3482, #2e6ab1);
	box-shadow: 0px 2px 5px 0px #000;
		-moz-box-shadow: 0px 2px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;

}

#welcome-hero span {
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

#hero-header1 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.5em;

	opacity: 1;
	/*-webkit-animation: wipeRight 5s linear 4 0s;
	-moz-animation: wipeRight 5s linear 4 0s;
	animation: wipeRight 5s linear 4 0s; */
	}


#hero-header2 {
	text-align: right;
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 10px;

	opacity: 1;
	/* -webkit-animation: wipeLeft 5s linear 4 0s;
	-moz-animation: wipeLeft 5s linear 4 0s;
	animation: wipeLeft 5s linear 4 0s; */
}


@-webkit-keyframes wipeRight {
  0% { opacity: 0; -webkit-transform: translateX(-200px); }
  5% {opacity: 0.5; -webkit-transform: translateX(-100px); }
  10% { opacity: 1; -webkit-transform: translateX(10px); }
  20% { opacity: 1; -webkit-transform: translateX(15px); }
  30% { opacity: 1; -webkit-transform: translateX(20px);}
  40% { opacity: 1;  -webkit-transform: translateX(25px);}
  50% { opacity: 1;  -webkit-transform: translateX(30px);}
  60% { opacity: 1; -webkit-transform: translateX(35px);}
  70% { opacity: 1; -webkit-transform: translateX(40px);}
  80% { opacity: 1; -webkit-transform: translateX(45px);}
  90% { opacity: 0; -webkit-transform: translateX(500px);}
  100% { opacity: 0; -webkit-transform: translateX(500px);}
}

@-moz-keyframes wipeRight {
  0% { opacity: 0; -moz-transform: translateX(-200px); }
  5% {opacity: 0.5; -moz-transform: translateX(-100px); }
  10% { opacity: 1; -moz-transform: translateX(10px); }
  20% { opacity: 1; -moz-transform: translateX(15px); }
  30% { opacity: 1; -moz-transform: translateX(20px);}
  40% { opacity: 1;  -moz-transform: translateX(25px);}
  50% { opacity: 1;  -moz-transform: translateX(30px);}
  60% { opacity: 1; -moz-transform: translateX(35px);}
  70% { opacity: 1; -moz-transform: translateX(40px);}
  80% { opacity: 1; -moz-transform: translateX(45px);}
  90% { opacity: 0; -moz-transform: translateX(500px);}
  100% { opacity: 0; -moz-transform: translateX(500px);}
}

@-webkit-keyframes wipeLeft {
  0% { opacity: 0; -webkit-transform: translateX(100px); }
  30% { opacity: 0; -webkit-transform: translateX(100px);}
  35% { opacity: 0.5;  -webkit-transform: translateX(10px);}
  40% { opacity: 1;  -webkit-transform: translateX(0px);}
  50% { opacity: 1;  -webkit-transform: translateX(-10px);}
  60% { opacity: 1; -webkit-transform: translateX(-15px);}
  70% { opacity: 1; -webkit-transform: translateX(-20px);}
  80% { opacity: 1; -webkit-transform: translateX(-25px);}
  90% { opacity: 0; -webkit-transform: translateX(-500px);}
  100% { opacity: 0; -webkit-transform: translateX(-500px);}
}

@-moz-keyframes wipeLeft {
  0% { opacity: 0; -moz-transform: translateX(100px); }
  30% { opacity: 0; -moz-transform: translateX(100px);}
  35% { opacity: 0.5;  -moz-transform: translateX(10px);}
  40% { opacity: 1;  -moz-transform: translateX(0px);}
  50% { opacity: 1;  -moz-transform: translateX(-10px);}
  60% { opacity: 1; -moz-transform: translateX(-15px);}
  70% { opacity: 1; -moz-transform: translateX(-20px);}
  80% { opacity: 1; -moz-transform: translateX(-25px);}
  90% { opacity: 0; -moz-transform: translateX(-500px);}
  100% { opacity: 0; -moz-transform: translateX(-500px);}
}



#hero-signin-links {
	float: right;
	margin-right: 12px;
	margin-top: 10px;
}
#hero-signin-links a{
	color: black;
	text-decoration: none;
	font-size: 0.95em;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#hero-signin-links a:hover{
	color: #A5D2F2;
	text-decoration: none;
}



#welcome-page-signin {

}

/*----------------------------------------------------------------------------- 
= ABOUT PAGE (/pages/info)
-----------------------------------------------------------------------------*/
#aboutPage {
	max-width: 960px;
	margin: 0 auto;
	padding: 0px 5px;
}

#about-container {
	padding: 5px 10px 10px 10px;
	border-radius: 2px;
	background-color: whitesmoke;
	box-shadow: 0px 2px 5px 0px #000;
		-moz-box-shadow: 0px 2px 5px 0px #000;
		-webkit-box-shadow: 0px 2px 5px 0px #000;
}

	#about-container h1, #about-container h2 {
		text-align: center;
		color: #FF7F00;
	}

.appInfo h1 {
	margin-bottom: 5px;
	font-family: Verlag Bold;
	font-size: 2em;
}

.appInfo h2 {
	margin-top: 0px;
	font-size: 1.5em;
}

#more-info-header {
	color: #FF7F00;
	font-size: 1.2em;
	text-align: center;
	margin-top: 10px;
}


.appInfo p {
	margin: 0px;
	text-align: justify;
}

#seller {
	font-family: Verlag Bold;
	text-align: center;
	margin-top: 20px;
}


.appActions-container {
	margin-left: 0px;
}

.appActions {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	display: block;
	width: 90%;
	margin: 10px auto;
	border-radius: 2px;
	padding: 10px;
	cursor: pointer;

	background: #2e6ab1;

	text-align: center;
	color: white;
	font-weight: normal;
}


.demo-btn {
	font-size: 0.85em;
	padding: 2px 5px;
}

#demo-upvote {
	width: 35px;
	height: auto;
}

.appActionsInfo {
	display: none;
	width: 90%;
	margin: 0 auto;
	list-style: none;
}

.appActionsInfo li {
	margin: 10px 0px;
	font-size: 1em;
	padding-left: 1em; 
    text-indent: -.7em;
}
	.appActionsInfo li:before {
    	content: "• ";
    	color: #2e6ab1;
	}

.eventCompletionInfo-container {
	clear: both;
}

.eventCompletionInfo-container h3 {
	font-weight: normal;
}


.block {
	display: block;
}


.selected {
	background :#56A4DB;
  	font-weight: bold;
  	list-style: none;
}

#beta-info p {
	text-align: center;
	font-style: italic;
	margin-top: 20px;
}

/*----------------------------------------------------------------------------- 
= EVENT HISTORY TABLE (/pages/history)
-----------------------------------------------------------------------------*/
#history-header-container {
	padding-top: 20px;
	margin-bottom: 10px;
}

#eventHistoryTable {
	margin: 5px 10px;
	background: white;
	border: inset 1px gray;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px #000;
		-moz-box-shadow: 0px 0px 5px 0px #000;
		-webkit-box-shadow: 0px 0px 5px 0px #000;
	padding: 10px 10px;
}

#eventHistoryTable table {
	padding: 10px 10px;
	overflow-y: scroll;
	table-layout: fixed;
}

#eventHistoryTable table td {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
#eventHistoryTable table th {
	text-align: center;
}

#pagination-container {

}

.pagination a, .pagination span, .pagination em {
	padding: 0.2em 0.5em;
	margin-right: 1px;
}

.pagination a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	text-align: center;
}

.pagination .current {
	font-style: normal;
	font-weight: bold;
	background: #2e6ab1;
	color: white;
	border: 1px solid #2e6ab1;
}

.pagination {
	float: left;
	margin-left: 10px;
	margin-top: 23px;
	display: inline;
}

a.previous_page, a.next_page {
	border: none;
	color: #2e6ab1;
}




