#eventList h2 {
	padding-left: 10px;
}
#appInfo p {
	margin: 0 50px;
	text-align: justify;
}

#rulesPageContent ul, #rulesPageContent ol{
	width: 600px;
	margin: 10px auto;
}
#rulesPageContent h2 {
	text-align: center;
}


/*----------------------------------------------------------------------------- 
= EVENT HISTORY TABLE (pages/history)
-----------------------------------------------------------------------------*/
#eventHistory h2 {
	padding-left: 10px;
}
#eventHistoryTable {
	margin-top: 20px;
	background: white;
	border: ridge 5px gray;
	border-radius: 20px;
	padding: 10px 10px;
	height: 500px;
	overflow-y: auto;
}

#eventHistoryTable table {
	padding: 10px 10px;
	overflow-y: scroll;
}


#eventHistoryTable table td {
	text-align: center;
}
#eventHistoryTable table th {
	text-align: center;
}



