#about-container {
	padding: 10px 30px;
}

#appInfo {
	font-size: 1.3em;
}

#appInfo h2 {
	font-weight: normal;
}
#appInfo p {
	margin: 0px;
	text-align: left;
	font-size: 0.8em;
}

#rulesPageContent {
	font-size: 0.9em;
}


#appActions-container {
	font-size: 0.9em;
	margin-left: 10px;
}

.appActions {
	display: inline-block;
	border: ridge 2px black;
	border-radius: 15px;
	margin: 10px auto;
	background: white;
	cursor: pointer;

	width: 275px;
	vertical-align: top;
	height: 40px;

	overflow: hidden;
}

.appActions h3 {
	margin: 2px 20px;
	text-align: center;
	color: #2e6ab1;
	font-size: 1.3em;
	font-weight: normal;
}

.appActionsInfo {
	display: block;
	height: 250px;
	margin: 0px 5px;
	padding: 10px 20px;
	padding-bottom: 10px;
	font-size: 1em;

	list-style: circle;
	list-style-position: inside;
}

.eventCompletionInfo-container {
	clear: both;
}

.eventCompletionInfo-container h3 {
	font-weight: normal;
}


/*----------------------------------------------------------------------------- 
= EVENT HISTORY TABLE (/pages/history)
-----------------------------------------------------------------------------*/
#history-header-container {
	padding-top: 20px;
	margin-bottom: 10px;
}

#eventHistory h2 {
	float: left;
	padding-left: 20px;

}
#eventHistoryTable {
	margin-top: 5px;
	background: white;
	border: ridge 5px gray;
	border-radius: 20px;
	padding: 10px 10px;
	height: 480px;
}

#eventHistoryTable table {
	padding: 10px 10px;
	overflow-y: scroll;
	table-layout: fixed;
}

#eventHistoryTable table td {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#eventHistoryTable table th {
	text-align: center;
}

#pagination-container {

}

.pagination a, .pagination span, .pagination em {
	padding: 0.2em 0.5em;
	margin-right: 1px;
}

.pagination a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	text-align: center;
}

.pagination .current {
	font-style: normal;
	font-weight: bold;
	background: #2e6ab1;
	color: white;
	border: 1px solid #2e6ab1;
}

.pagination {
	float: left;
	margin-left: 10px;
	margin-top: 23px;
	display: inline;
}

a.previous_page, a.next_page {
	border: none;
	color: #2e6ab1;
}




