#appInfo {
	font-size: 1.3em;
	padding-top: 10px;
}

#appInfo h2 {
	margin-left: 50px;
}
#appInfo p {
	margin: 0 50px;
	text-align: justify;
	font-size: 0.8em;
}

#rulesPageContent {
	margin-left: 50px;
	font-size: 0.9em;
}

#rulesPageContent ol{
	width: 600px;
	margin: 10px auto;
	margin-bottom: 30px;
	list-style: decimal;
}

#rulesPageContent ul{
	width: 600px;
	margin: 5px auto;
	margin-bottom: 10px;
	list-style: circle;
}
#rulesPageContent h3 {
	margin-left: 60px;
}



/*----------------------------------------------------------------------------- 
= EVENT HISTORY TABLE (/pages/history)
-----------------------------------------------------------------------------*/
#eventHistory h2 {
	padding-left: 20px;
	padding-top: 20px;
}
#eventHistoryTable {
	margin-top: 20px;
	background: white;
	border: ridge 5px gray;
	border-radius: 20px;
	padding: 10px 10px;
	height: 500px;
	overflow-y: auto;
}

#eventHistoryTable table {
	padding: 10px 10px;
	overflow-y: scroll;
}


#eventHistoryTable table td {
	text-align: center;
}
#eventHistoryTable table th {
	text-align: center;
}



