 html {
 	 	background: url('venue-bkgd.JPG') no-repeat top center fixed;   
	  -webkit-background-size: cover;  
	  -moz-background-size: cover;  
	  -o-background-size: cover;  
	  background-size: cover;
 }

 body {
 	background-color: transparent; /*#C6B199*/

 }
#page_title, #nav_body, footer {
	display: none;
}

#home_container {
	font-family: Verlag Bold;
	position: absolute;
	color: whitesmoke;
	left: 0%;
	right: 0%;
}
	#home_header_text {
		margin-bottom: 5px;
		font-size: 3em;
		text-align: center;
	}
	#home_action_links {
		font-size: 1.5em;
		color: #282828;
		background-color: whitesmoke;
		opacity: 0.8;
		text-align: center;
	}
	#home_action_links a {
		color: #FF7F00;

	}
