<html>
<head>
<title><%= Venupickr::Application::APP_NAME %> Email Template</title>
<style type="text/css">

</style>
</head>
<body>

<div class = "email-container" style = ="  font-family: Verlag Book, Arial, Verdana, Geneva, sans-serif;
  background-color: whitesmoke;font-size: 1.2em;min-width: 80%;margin: 0 auto;color: #333633;border-radius: 2px;">
  <div class = "app-name-header" style = "background-color: #FF7F00;">
    <h2 style = "text-align: center; color: white; font-family: Verlag Bold, 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; margin: 0 auto; padding: 5px;"><%= Venupickr::Application::APP_NAME.upcase %></h2>
  </div>

  <div class = "email-content-body">
  <table border="0" cellspacing="0" cellpadding="5" style = "margin: 10px auto; line-height: 1.2em;">
  <tr>
    <td>
    
    <h2 style = "font-family: Verlag Bold, 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    color: #FF7F00; text-align: center;">PASSWORD CHANGE REQUEST</h2>
    <p align = "center">Someone has requested a link to change your password. You can do this through the link below:</p>
	<p align = "center"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), {style: " text-decoration: none;color: #2e6ab1;font-weight: bold;"} %></p>
	 <p align="center" class = "email-small" style = "  font-size: 0.9em; margin: 0 auto; margin-top: 10px; width: 90%;">If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
    
    </td>
  </tr>
</table>

</div> <!-- email-content-body -->

<!-- Footer -->
<table class = "email-footer" border="0" cellspacing="0" cellpadding="10" style = "width: 100%; text-align: center;">
  <tr>
    <td style = "background-color: #FF7F00; padding: 10px; font-family: Verlag Bold, 'Arial Rounded MT Bold', Verdana, Geneva, sans-serif;font-size: 1em;"><a style = "text-decoration: none;color: white;">www.<%= Venupickr::Application::APP_NAME.downcase %>.com</a></td>
  </tr>
</table>


</body>
</html>
